.card-panel {
    display: flex;
    margin: 0 auto;
}
body {
    vertical-align: middle;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-wood-plank-wood-background-image-image_265057.jpg");
    background-size: 100% 100%;
}
h4 {
    text-decoration: underline;
    font-size: large;
    align-items: center;
    
} 
h1 {
    font-family: 'Quicksand', sans-serif;
}
.card-panel{
    border-color: #e95d5d;
    border-width: 4px;
}