.card {
    margin-top: 5px;
}
​
#map {
height: 500px;
width: 500px;
 }

 /* Stocks */
 @keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
}
.tcontainer{
    /* height: 150%; */
    width: 100%;
    overflow: hidden;
}
.ticker-wrap {
    width: 100%;
    padding-left: 100%;
    background-color: #eee;
}
.ticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}
.ticker-move:hover{
    animation-play-state: paused;
}
.ticker-item{
    display: inline-block;
    padding: 0.5rem 2rem;
}